.table-container.review-table {
  .user-details {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
      border-radius: 100%;
      width: 60px;
      height: 60px;
    }
    p {
      font-size: 14px;
    }
  }
  .actions {
    min-width: 40px;
  }
  .text {
    min-width: 480px;
  }
  .rating {
    min-width: 140px;
  }
  .product-name {
    min-width: 170px;
  }
  .reviewer-name {
    min-width: 175px;
  }
  .stars {
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.table-skeleton td {
  padding: 10px;

  div {
    background-color: #dfdfdf;
    height: 8px;
    border-radius: 4px;
    width: 100%;
    animation: skeleton-loading 0.5s infinite alternate;
  }
}
@keyframes skeleton-loading {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
