//utility classes
* {
  border: none;
  outline: none;
  list-style: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Outfit', sans-serif;
}

.jim,
.jim * {
  padding: 0;
  margin: 0;
  input,
  textarea {
    background-color: $white;
    border-radius: 8px;
    border: 1px solid $text-muted;
    padding: 10px;
  }
}

body {
  background-color: $white;
  margin-inline: auto;
  min-height: 100vh;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

button {
  cursor: pointer;
  background-color: transparent;
}

a,
p {
  color: $black;
}

hr {
  width: 100%;
  height: 2px;
  background-color: $text-muted;
}

textarea {
  resize: none;
}
