#hero-category {
  background-color: #0d0d0d;
  .container {
    padding-bottom: 0px;
    .hero-columns {
      padding-block: 32px;
      gap: 2rem;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr;

      .hero-text {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1 {
          font-size: 40px;
          color: $white;

          @include breakpointDynamic(430px) {
            & {
              font-size: 48px;
            }
          }
        }
        p {
          color: $white;
        }

        .btn-container {
          width: fit-content;
        }
      }

      @include breakpointDynamic(800px) {
        & {
          grid-template-columns: 0.75fr 1.25fr;
        }
      }
    }
  }
}

#description {
  background-color: $bg-grey;
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;
      gap: 16px;

      h2 {
        text-align: left;
      }
    }

    @include breakpointDynamic(600px) {
      & {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
